*{
    margin:0;
    padding:0;
}


.head_logo{
    display:flex;
    justify-content: space-between;
    width:100%;
    position: sticky;
    top:0;
    left:0;
    background-color:#e8edff;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

    align-items: center;
    text-align: center;
    padding-top: 5px;
    /* padding-bottom: 5px; */
    margin:0;
    z-index:999;
}
.head_logo>:nth-child(1){
    margin-left: 40px;
    margin-top: -15px;
}

#logoImg{
    width:90%;
}
.head_logo>:nth-child(3){
    margin-left: -40px;
}
#head_nav{
    width:50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
   
}
#head_nav>button{
    border:none;
    background-color:transparent;
    font-size: 15px;
    transition: 0.3s ease;
}
#head_nav>a{
    text-decoration: none;
    color:black;
    font-weight: lighter;
    font-size: 16px;
    transition: 0.3s ease;
}
#head_nav>a:hover{
    color:#3070f0;
}
#head_nav>button:hover{
    color:#3070f0;
}

#head_nav+div>a:hover{
    color:#3070f0;
}
#sign>button:hover{
    background-color:#3070f0;
    color:white;
}
#head_nav+div{
    width:12%;
    align-items: flex-start;
}
#head_nav+div>a{
    text-decoration: none;
    color:black;
    font-size: 15px;
    padding-left:8px;
    transition: 0.3s ease;
    font-weight: 300;
}
#sign{
    padding:5px 12px;
    font-size: 18px;
    /* margin-left: -20px; */
   
    transition: 0.3s ease;  
}
#sign>button{
    background-color: transparent;
    padding:6px 10px;
    /* border: none; */
    border-color: #0f7fef;
    border-radius: 5px;
    color: #1470cd;
    font-size: 15px;
    
}
#head_nav+div>button>a{
  text-decoration: none;
}
#container{
    width:100%;
    padding:100px 10px;
    background-color:#e8edff ;
    text-align: center;
    margin: auto;
}
#pricing{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width:80%;
    margin:50px auto;
}
#pricing>div{
    border: 1px solid rgb(185, 185, 185);
    width:26%;
    padding:20px 35px;
    border-radius: 20px;
}
#pricing>div>button{
    border: none;
    border-radius: 8px;
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding:8px 42px;
}
.head{
align-items: center;
width:100%;
margin: auto;
display: flex;
justify-content: center;
font-size: 40px;
margin:30px 0;
}
.parent>div{
display: flex;
align-items: center;
justify-content:space-evenly;
}
.parent>div>h3{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    border-bottom: 1px solid rgb(184, 184, 184);
    font-weight: lighter;
    }
   
    #description{
        width:100%;
        text-align: center;
        margin: auto;
        background-color: #41338f;
        padding:60px 0;
        color:white;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        
    }
    
    #description>button{
        padding:12px 45px;
        border-radius: 6px;
        border: none;
        margin:20px auto;
        color:black;
        font-size: 15px;
    
    }
    
    #description>h1{
        font-size: 50px;
        margin-bottom: 8px;
    }
    #description>h3{
       font-weight: bolder;
    } 
    
#decriptionPage{
    display:flex;
    width:100%;
    margin:auto;
    justify-content: space-evenly;
    padding:40px 0px;
}
#decriptionPage>img{
    margin-top:-110px;
    margin-left:-160px;
}
#decriptionPage>:nth-child(2)>div>a{
    text-decoration: none;
    color:black;
    margin-bottom: 15px;
}
#decriptionPage>:nth-child(3)>div>a{
    text-decoration: none;
    color:black;
    margin-bottom: 15px;
}
#decriptionPage>:nth-child(4),#decriptionPage>:nth-child(5){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 
